{{template "base" .}}

{{define "content"}}
<div class="container">
    <div>
        <div>
            <h1 class="mt-3 text-bold text-2xl text-center">Design Patterns in Go</h1>
            <hr>
            <h2 class="text-xl text-bold text-center">Factory</h2>
            <div class="flex justify-center gap-8 m-4">
                <a href="javascript:void(0);" 
                    hx-get="/api/dog-from-factory"
                    hx-target="#factory-output"
                    hx-swap="innerHTML"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                >
                    Get a dog from factory
                </a>
                <a
                    href="javascript:void(0);" 
                    hx-on:click="document.getElementById('factory-output').innerText = 'Nothing received yet...';"
                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                >
                    Clear Data 
                </a>
                <a href="javascript:void(0);" 
                    hx-get="/api/cat-from-factory"
                    hx-target="#factory-output"
                    hx-swap="innerHTML"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                >
                    Get a cat from factory
                </a>
            </div>
            <div class="m-8 mb-4">
                <pre id="factory-output" class="border-2 rounded border-black p-8"><span>Nothing received yet...</span></pre>
            </div>
            
            <hr>
            <br>

            <h2 class="text-xl text-bold text-center">Abstract Factory</h2>
            <div class="flex justify-center gap-8 m-4">
                <a href="javascript:void(0);" 
                    hx-get="/api/dog-from-abstract-factory"
                    hx-target="#abs-factory-output"
                    hx-swap="innerHTML"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                >
                    Get a dog from abstract factory
                </a>
                <a
                    href="javascript:void(0);" 
                    hx-on:click="document.getElementById('abs-factory-output').innerText = 'Nothing received yet...';"
                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                >
                    Clear Data 
                </a>
                <a href="javascript:void(0);" 
                    hx-get="/api/cat-from-abstract-factory"
                    hx-target="#abs-factory-output"
                    hx-swap="innerHTML"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                >
                    Get a cat from abstract factory
                </a>
            </div>
            <div class="m-8 mb-4">
                <pre id="abs-factory-output" class="border-2 rounded border-black p-8"><span>Nothing received yet...</span></pre>
            </div>


            <hr>
            <br>

            <h2 class="text-xl text-bold text-center">Builder</h2>
            <div class="flex justify-center gap-8 m-4">
                <a href="javascript:void(0);" 
                    hx-get="/api/dog-from-builder"
                    hx-target="#builder-output"
                    hx-swap="innerHTML"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                >
                    Get a dog from builder
                </a>
                <a
                    href="javascript:void(0);" 
                    hx-on:click="document.getElementById('builder-output').innerText = 'Nothing received yet...';"
                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                >
                    Clear Data 
                </a>
                <a href="javascript:void(0);" 
                    hx-get="/api/cat-from-builder"
                    hx-target="#builder-output"
                    hx-swap="innerHTML"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                >
                    Get a cat from builder 
                </a>
            </div>
            <div class="m-8 mb-4">
                <pre id="builder-output" class="border-2 rounded border-black p-8"><span>Nothing received yet...</span></pre>
            </div>



        </div>
    </div>
</div>
{{end}}

{{define "script"}}
<script>
    document.addEventListener("htmx:afterSwap", function(event){
        event.target.innerText = JSON.stringify(JSON.parse(event.target.innerText), undefined, 4);
    })
</script>

{{end}}
